// form styling
$label-width  : 8em;
$label-pad    : 1em;
$input-padx   : 0.6em;
$input-pady   : $input-padx * 2 / 3;

form {
  @include reset;
}

fieldset {
  padding: 1em 0;
  margin: 1em 0 0 0;
  border: 0 none;
}

legend {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
  margin: 0 0 1em 0;
}

div.field {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2px;

  &.tall {
    align-items: flex-start;

    label {
      padding-top: $input-pady;
    }
  }

}

label {
  order: 1;
  width: $label-width;
  text-align: right;
  padding-right: $label-pad;
	white-space: nowrap;
  user-select: none;
  cursor: pointer;
}

input, output, textarea, select, pre {
	appearance: none;
  order: 2;
  flex: 2 1 auto;
  line-height: 1.2;
  height: 2.25em;
  line-height: 1.25;
  padding: $input-pady $input-padx;
  margin: 0;
  border: 0 none;
	border-radius: 0;
  outline: 0 none;
  box-shadow: none;
  background-color: #eee;
}

select {
  padding-left: $input-pady;
  cursor: pointer;
}

textarea {
  height: auto;

  &[disabled], &[readonly] {
    white-space: pre-wrap;
  }
}

input[type="file"] {
  height: auto;
  padding: 0.4em;
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
  order: 1;
  flex: 0 0 auto;
  width: auto;
  height: auto;

  div.field & {
    margin-left: $label-width;
  }

  & ~ label {
    width: auto;
    text-align: left;
    padding-left: $label-pad;
  }
}

button, .button {
  display: inline-block;
  width: 12em;
  height: 2.25em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 2.2;
  padding: 0;
  margin: 0 0 0 $label-width;
  border: 0 none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  user-select: none;
  cursor: pointer;

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
